logs
*.log
.nyc
.nyc_output
coverage
build/Release
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
node_modules
/bower_components
/src/typings/tsd/
/typings/
/tsd_typings/
/dist
/public/__build__/
/src/*/__build__/
__build__/**
.webpack.json
.idea/
*.iml
*.swp
!/typings/custom.d.ts
.vscode/
release
dist
/node_modules/
lerna-debug.log
/lib/
ngfactory
output
*.ngsummary.json
*.ngfactory.ts
tmp
