<mat-card>
    <mat-card-header>
        <mat-card-title>Search Film</mat-card-title>
    </mat-card-header>

    <mat-card-content style="max-height: calc(100vh - 175px); overflow-y: auto;">
        <div class="search-outer-container">
            <div class="search">
                <form class="search-form" [formGroup]="searchForm">
                    <mat-form-field class="search-box">
                        <input matInput placeholder="Search Film" formControlName="search">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>


