.search-outer-container {
  width: 100%;
  display: block;
}

.search {
  width: 50%;
  display: block;
}
.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-box {
  width: 100%;
  padding: 10px 10px 10px 18px;
}

.mat-card {
  height: 100%;
}
